body{
    font-family: 'Pavanam', sans-serif;
    background-color: #333333;
    color: white;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 50em;
    margin: 0 auto;
    padding: 1em;
}

section#title-section{
    background-color: white;
    color: black;
}
h1#title{
    text-align: center;
}

.hidden{
    display: none;
}

.alert{
    margin: 0 auto;
    max-width: 57em;
    border: 1px solid grey;
    border-left: 3px solid grey;
    padding: 0.6em 1em;
}

.alert-error{
    background-color: #ff3535;
    border: 1px solid #b51c1c;
    border-left: 3px solid #b51c1c;
}